<img src="src\icons\‏‏לכידה דף בית.PNG" id="imgHome">
<img src="src\icons\@@@.png" id="log">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="pop-up">

    <div id="pop-up">
        <!-- <img src="images/cross.png"> -->

        <div class="container">
            <h1>תודה שבחרת בנו</h1>
            <!-- <p>This Designe By <strong>RAJ KUMAR</strong> Enter your E-mail and animated subscribe form.</p> -->
            <!-- <input type="email" placeholder="email" required> -->
            <button (click)="start()">הכנס!</button>
            <div class="cross" ><i class="fa fa-times" style="color: #fff;"></i></div>
        </div>
    </div>
    
</div>
