<button (click)="demandDetails()">חיפוש רכב</button>
    
    <mat-card class="example-card" *ngFor="let demand of demandList">
        <mat-card-header  >
          <div mat-card-avatar class="example-header-image"></div>
         
        </mat-card-header>
        <mat-card-content>
            <mat-card-subtitle><label>מתאריך:</label>{{demand.fromDate}}</mat-card-subtitle>
            <mat-card-subtitle><label>מהשעה:</label>{{demand.fromHour}}</mat-card-subtitle>
            <mat-card-subtitle><label>עד התאריך</label>{{demand.toDate}}</mat-card-subtitle>
           
            <mat-card-subtitle>עד השעה:<label></label>{{demand.toHour}}</mat-card-subtitle>

         
        </mat-card-content>
      
      </mat-card>
     