<div  id="plus" matTooltip="הצעה חדשה" (click)="supplyDetails()">
  <i style="font-size: 3em" class="pi pi-plus-circle"></i>
</div>
<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
             <mat-icon (click)="delete(element.supplyId)">delete</mat-icon>  </td>
          </ng-container>
          <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element">
               <mat-icon (click)="supplyDetails(element.supplyId)">edit</mat-icon>   </td>
            </ng-container>
  <ng-container matColumnDef="toHour">
    <th mat-header-cell *matHeaderCellDef> עד שעה  </th>
    <td mat-cell *matCellDef="let element"> {{element.toHour}} <!-- <i class="material-icons">edit</i>
      <i class="material-icons">delete_forever</i> --></td>
  </ng-container>
  <ng-container matColumnDef="fromHour">
    <th mat-header-cell *matHeaderCellDef> משעה </th>
    <td mat-cell *matCellDef="let element"> {{element.fromHour}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="toDate">
    <th mat-header-cell *matHeaderCellDef> עד תאריך </th>
    <td mat-cell *matCellDef="let element"> {{element.toDate| date:"dd/MM/yyyy"}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fromDate">
    <th mat-header-cell *matHeaderCellDef> מתאריך </th>
    <td mat-cell *matCellDef="let element"> {{element.fromDate| date:"dd/MM/yyyy"}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="carNum">
    <th mat-header-cell *matHeaderCellDef> מס רכב </th>
    <td mat-cell *matCellDef="let element">{{element.carNum}}  </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
