body {
   width:200px; font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
  #user{
    width: 40px;
    position: absolute;
    margin-top: 35px;
    margin-left: 135px;
  }
  