
<img src="src\icons\001-user.png" id="user" />
<!-- <mat-menu #menu="matMenu" >
    <button dir="rtl" mat-menu-item (click)="myProfile()">
      <span >הפרופיל שלי</span>
       [matMenuTriggerFor]="menu" 
      <mat-icon>directions_car</mat-icon>
    </button>
    <button mat-menu-item  (click)="myCars()" >
      <mat-icon>voicemail</mat-icon>
      <span >הרכבים שלי </span>
    </button>
    <button mat-menu-item  (click)="mySupplies()">
      <mat-icon>notifications_off</mat-icon>
      <span >ההצעות שלי</span>
    </button>
    <button mat-menu-item (click)="mydemands()">
        <mat-icon>notifications_off</mat-icon>
        <span>הבקשות שלי</span>
      </button>
      <button mat-menu-item (click)="myTransactions()">
        <mat-icon>notifications_off</mat-icon>
        <span>העסקאות שלי</span>
      </button>
  </mat-menu> -->

  
