

<button  mat-icon-button [matMenuTriggerFor]="menu"><img src="src\icons\001-user.png" id="user"/>
</button>
<mat-menu #menu="matMenu" >
    <button dir="rtl" mat-menu-item (click)="myProfile()">
      <span >
        הפרופיל שלי
      </span>
      <img src="src\icons\001-user.png" id="user1"/>
    </button>
    <button mat-menu-item  (click)="myCars()" >
      <mat-icon>directions_car</mat-icon>
      <span >הרכבים שלי </span>
    </button>
    <button mat-menu-item  (click)="mySupplies()">
      <img src="src\icons\לוגו.png" id="supply"/>
      <span >ההצעות שלי</span>
    </button>
    <button mat-menu-item (click)="mydemands()">
        <mat-icon>notifications_off</mat-icon>
        <span>הבקשות שלי</span>
      </button>
  </mat-menu>

  
