<div id="body">
<img src="src\icons\@@@.png" id="logo" />

<div id="p">
        נראה כי יחד עם התקדמות העולם והתפתחותו גם החברה לא נשארה מאחור וגם היא מתקדמת ומתפתחת,
        חלק משמעותי מההתפתחות החברתית היא מגמה חברתית לשיתוף וניצול משאבים קיימים. 
        למרות ואולי בגלל השפע העצום שקיים היום בכל תחום
         התגברה המודעות לניצול משאבים קיימים כמו מחזור מוצרים חומרים ועוד.
<br>אם בעבר היה האדם שומר לעצמו את רגושיו חוויותיו נכסיו וחפציו 
        כיום כל אדם החי בתוך חברה מתקדמת ומפותחת
         חייב לשיתוף החברה בריגושים חוויות שעברו עליו וכן גם חפציו הממשיים
         <br> ניתן לומר כי המגמה והרצון לשיתוף חברתי- דבר חיובי ורצוי.
           בין המגמות הבולטות בשוק הרכב העולמי נמצאת השיתופיות, ומודל הרכב השיתופי 
     בפרט. מודל הרכב השיתופי הוא מודל חדש יחסית שמציע השכרת רכבים לפרקי זמן קצרים
     הכולל יתרונות רבים:
     <br>גמישות בבחירת הרכב בהתאם לצורך, הפחתה בזיהום האוויר, וכמובן, הוזלה משמעותית בעלויות. 
   </div> 
<div id="p2">
        נהג ישראלי יוצא מביתו ב–7:00, מגיע למקום עבודתו ב–8:00 ומחנה את מכוניתו בחניון הסמוך. 
        הפעם הבאה שבה יזדקק למכונית תהיה ב–17:00,
         אז ייצא לדרכו חזרה הביתה.
    
     מה התועלת הכלכלית בנכס יקר יחסית שנעשה בו שימוש רק למשך שעתיים ביום?
     מדוע חונה המכונית במשך תשע שעות באותה נקודה 
    - אם באותו הזמן יכולה היתה להמשיך בתנועה ולשמש נהגים אחרים?
במציאות תחבורתית חלופית, שבה יוכל בעל מכונית "לסבלט" את מכוניתו לפי שעה
, נדמה כי כל הצדדים מרוויחים - למעט יצרניות הרכב. 
בעל המכונית ירוויח הכנסה צדדית שתסייע לו לכסות על עלות רכישת הרכב, 
משתמשים אחרים יוכלו לחסוך רכישת מכונית פרטית עבור נגישות לעבודה או עריכת סידורים אקראיים,
<br> ואילו המדינה תהנה מירידה בנפח התנועה בכבישים ותחסוך גזילת קרקעות לחניה.
 ברצון לנצל משאב זה פתחנו את  
 wheelet
 <br>אתר חברתי חינמי לשכירת רכבים פרטיים 
  ב wheelet תמצאו את מה שתחפשו! 
  <br><b>והרווח-  כולו שלכם!</b>
</div>
</div>