<head> 
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    </head>
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
        <h2>  :חיפוש רכב</h2>
        <p>:בבקשה הזן את פרטי החיפוש </p>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                          </div>
                      <input class="form-control"   [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder=" מהתאריך:" [(ngModel)]="supplySearch.fromDate">
                    </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                            </div>
                        <input class="form-control"   [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder=" עד התאריך :" [(ngModel)]="supplySearch.toDate">
                      </div>
                </div>
              </div>
            </div>

                           <!-- <div class="form-group">
       
                                 <input class="form-control1"  matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder=" מהתאריך:" [(ngModel)]="supplySearch.fromDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                   <mat-datepicker #picker></mat-datepicker>
                             </div> -->
  
                             <!-- <div class="form-group">
      
                                <input class="form-control1"matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder=":עד תאריך"[(ngModel)]="supplySearch.toDate" >
                                 <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                 <mat-datepicker #picker1></mat-datepicker>
                               </div>
                              -->
                               <div class="row">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                      <div class="input-group">
                                          <div class="input-group-addon">
                                              <i class="glyphicon glyphicon-time"></i>
                                            </div>
                                             <input type="text" class="form-control" placeholder=" :מהשעה"name="fromHour" [(ngModel)]="supplySearch.fromHour">
                                       </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                              </div>
                                              <input type="text" class="form-control" placeholder=":עד השעה " name="toHour" [(ngModel)]="supplySearch.toHour">
                                            </div>
                                      </div>
                                    </div>
                                  </div>
  
                                  <div class="row">
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                          <div class="input-group">
                                              <div class="input-group-addon">
                                                  <i class="glyphicon glyphicon-map-marker"></i>
                                                </div>
                                                <input class="form-control" matInput matGoogleMapsAutocomplete [country]="il"  (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                                (onLocationSelected)="onLocationSelected($event)"placeholder="מיקום">                                              </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                          <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="pi pi-cog"></i>
                                                  </div>
                                                  <input type="text" class="form-control"placeholder=":מספר מושבים" [(ngModel)]="supplySearch.numSeats" >
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon">
                                                      <i class="pi pi-cog"></i>
                                                    </div>
                                                    <input type="text" class="form-control"placeholder=":חברה" [(ngModel)]="supplySearch.carCompany" >
                                                  </div>
                                            </div>
                                          </div>
                                        </div>
  
                                
                             
                                  <div class="wrapper">
                                    <button type="submit" class="btn btn-primary" (click)="searchSupply()">חפש</button>
                                  </div>
                         <!-- </form> -->
                  </div>
             </div>
          




<!-- <button mat-button (click)="saveDemand()">saveDemand</button> -->