
  <!-- <div class="example-cover-container">
      <button (click)="car()">רכב חדש</button>
  <div class="line">
      
    <mat-label>בחר רכב:</mat-label>
    <mat-select [(ngModel)]="supply.carNum" placeholder="רכב">
      <mat-option *ngFor="let i of cars" [value]="i.carNum">
        {{i.carNum}}
      </mat-option>
    </mat-select>
  </div>
  <div class="line">
        <label>מתאריך:</label>
      <mat-form-field class="example-container">
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="בחר תאריך" [(ngModel)]="supply.fromDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
     
      
  </div>
  <div class="line">
      <label>עד תאריך</label>
       <mat-form-field class="example-full-width">
         <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder=" בחר תאריך" [(ngModel)]="supply.toDate">
         <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
         <mat-datepicker #picker1></mat-datepicker>
       </mat-form-field>
   </div>
  <div class="line">
    <label>משעה:</label>
      <mat-form-field class="example-full-width">
          <input  matInput placeholder="שעה" name="fromHour" [(ngModel)]="supply.fromHour">
        </mat-form-field>
  </div>
  
  
  <div class="line">
    <label>משעה:</label>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="שעה" name="toHour" [(ngModel)]="supply.toHour">
        </mat-form-field>
  </div>
  <div class="line">
  <mat-label> מיקום הרכב:</mat-label>
  <input matInput
       matGoogleMapsAutocomplete
       [country]="il"
       (onAutocompleteSelected)="onAutocompleteSelected($event)"
  (onLocationSelected)="onLocationSelected($event)">
  
  </div>
  <button (click)="saveSupply()">שמור</button>
  </div>  -->
  <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  
      </head>
      <div class="login-form">
      <div class="main-div">
          <div class="panel">
          <h2>  הצעת רכב להשכרה</h2>
          <p>:בבקשה הזן את פרטי ההצעה </p>
          </div>
         
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </div>
                        <input class="form-control" matInput matGoogleMapsAutocomplete [country]="il"  (onAutocompleteSelected)="onAutocompleteSelected($event)"
                        (onLocationSelected)="onLocationSelected($event)"placeholder="מיקום">                                              </div>
                </div>
              </div>
            </div>
         
            <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="pi pi-cog"></i>
                          </div>
                          <input matInput
                          matGoogleMapsAutocomplete
                          [country]="il"
                          (onAutocompleteSelected)="onAutocompleteSelected($event)"
                     (onLocationSelected)="onLocationSelected($event)" placeholder=":מיקום הרכב">
                                             </div>
                  </div>
                </div>
              </div> -->
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="pi pi-cog"></i>
                            </div>
                            
                            <!-- <select  [(ngModel)]="supply.carNum"  class="form-control"  > -->
                                <select required [(ngModel)]="supply.carNum"  class="form-control">
                                <option *ngFor="let i of cars" [value]="i.carNum" >
                                  {{i.carNum}}
                                </option>
                                </select>  
                                 </div>
                    </div>
                  </div>
                </div>
                           
                              <!-- <div class="form-group">
                                  <label  class="text-info">:רכב</label><br>
                                  <select [(ngModel)]="supply.carNum"  class="form-control"  >
                                    <option *ngFor="let i of cars" [value]="i.carNum">
                                      {{i.carNum}}
                                    </option>
                                    </select>
                              </div> -->
                              <div class="row">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                      <div class="input-group">
                                          <div class="input-group-addon">
                                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                              <mat-datepicker #picker></mat-datepicker>
                                                </div>
                                            <input class="form-control"   [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder=" מהתאריך:" [(ngModel)]="supply.fromDate" >
                                          </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                                  </div>
                                                  <input type="text" class="form-control" placeholder="מהשעה: " name="toHour"[(ngModel)]="supply.fromHour">
                                                </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                              <!-- <div class="form-group">
                                  <label  class="text-info">:משעה </label><br>
                                <input type="text" class="form-control" placeholder="הזן שעה" [(ngModel)]="supply.fromHour">
                            </div> -->
                            
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                  <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                              </div>
                                              <input class="form-control" id="datepicker1" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder=" עד תאריך" [(ngModel)]="supply.toDate">
                                            </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="form-group">
                                <label  class="text-info" >:עד תאריך </label><br>
                                <input class="form-control" id="datepicker" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder=" בחר תאריך" [(ngModel)]="supply.toDate">
                                
                            </div> -->
                          
                            
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                  <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-time"></i>

                                              </div>
                                              <input type="text" class="form-control" placeholder="עד השעה: "name="toHour" [(ngModel)]="supply.toHour">
                                            </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                      <div class="input-group">
                                          <div class="input-group-addon">
                                              <i class="pi pi-cog"></i>

                                                </div>
                                                <input type="text" class="form-control"name="price" [(ngModel)]="supply.price"  placeholder="מחיר לשעה: " >
                                              </div>
                                    </div>
                                  </div>
                                </div>
                  
  
                        <div class="wrapper">
                        <button type="submit"  class="btn btn-primary" (click)="saveSupply()">שמור</button> 
                      </div>
                        
                    </div>
                  </div>
               
     
  