<p>
  supply-details works!
</p>
<button (click)="car()">car</button>
<div class="line">
  <mat-label>select car</mat-label>
  <mat-select [(ngModel)]="supply.carNum" >
    <mat-option *ngFor="let i of cars" [value]="i.carNum">
      {{i.carNum}}
    </mat-option>
  </mat-select>
</div>
<div class="line">
    <mat-form-field class="example-full-width">
        <input  matInput placeholder="fromHour" name="fromHour" [(ngModel)]="supply.fromHour">
      </mat-form-field>
</div>

<div class="line">
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="fromDate" name="fromDate" [(ngModel)]="supply.fromDate">
      </mat-form-field>  -->
      <mat-form-field class="example-full-width">
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="from date" [(ngModel)]="supply.fromDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
     
      
</div>
<div class="line">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="toHour" name="toHour" [(ngModel)]="supply.toHour">
      </mat-form-field>
</div>
<div class="line">
    <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="toDate" name="toDate" [(ngModel)]="supply.toDate">
      </mat-form-field> -->
      <mat-form-field class="example-full-width">
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder="to date" [(ngModel)]="supply.toDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
</div>
<mat-label> Address  using the directive >></mat-label>
<input matInput
     matGoogleMapsAutocomplete
     [country]="il"
     (onAutocompleteSelected)="onAutocompleteSelected($event)"
(onLocationSelected)="onLocationSelected($event)">

    
<button (click)="saveSupply()">saveSupply</button>
