<head> 

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
        <h2> הוספת רכב</h2>
        <p>בבקשה הזן את פרטי הרכב   </p>
        </div>
  <div class="form-group">
     
        <input class="form-control" matInput placeholder="מספר רכב" name="carNum" [(ngModel)]="car.carNum">
        
  </div>
  <div class="form-group">
     
        <input class="form-control" matInput placeholder="חברה" name="carCompany" [(ngModel)]="car.carCompany">
        
  </div>
  <div class="form-group">
     
        <input class="form-control" matInput placeholder="דגם" name="model" [(ngModel)]="car.model">
        
  </div>
  <div class="form-group">
     
        <input class="form-control" matInput placeholder="מספר מקומות" name="numSeats" [(ngModel)]="car.numSeats">
        
  </div>
 
  <div class="form-group">
     
        <input matInput class="form-control"placeholder="תיאור קצר" name="description" [(ngModel)]="car.description">
        
  </div>
  <div class="form-group">
      <input hidden type="file" multiple #imgFileInput (change)="addImage ($event)" />
      <button type="button" name="image" class="btnRegister " md-button (click)="imgFileInput.click()">הוסף תמונה</button> 
      <!-- <input type="file" name="picture" value="בחר קובץ" [(ngModel)]="car.picture"> -->
  </div>
  <div class="form-group">
  <mat-label>insuranceType</mat-label>
    <mat-select  [(ngModel)]="car.insuranceType" >
      <mat-option *ngFor="let i of insuranceTypes" [value]="i.insuranceId">
        {{i.insuranceName}}
      </mat-option>
    </mat-select>
  </div>
  <div class="form-group">
   <!--   
        <input matInput placeholder="expiryDate" name="expiryDate" [(ngModel)]="car.expiryDate">
         -->
        
        <input class="form-control"  [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="car.expiryDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        
  </div>
  <div class="form-group">
    <input type="file" name="file" class="form-control" value="בחר קובץ" [(ngModel)]="car.file">
  </div>
  <button type="submit" class="btn btn-primary"(click)="saveCar()">שמור</button>

